process.roles=broker,controller
node.id={{ groups['kafka_brokers'].index(inventory_hostname) + 1 }}
controller.quorum.voters={% for host in groups['kafka_brokers'] %}{{ groups['kafka_brokers'].index(host) + 1 }}@{{ host }}:9094{% if not loop.last %},{% endif %}{% endfor %}
listeners=BROKER://0.0.0.0:9093,CONTROLLER://0.0.0.0:9094
advertised.listeners=BROKER://{{ inventory_hostname }}:9093
listener.security.protocol.map=BROKER:SSL,CONTROLLER:SSL
inter.broker.listener.name=BROKER
controller.listener.names=CONTROLLER
ssl.keystore.type=PEM
ssl.keystore.certificate.chain=/etc/kafka/tls/tls.crt
ssl.keystore.key=/etc/kafka/tls/tls.key
ssl.truststore.type=PEM
ssl.truststore.certificates=/etc/kafka/tls/ca.crt
ssl.client.auth=required
principal.builder.class=org.apache.kafka.common.security.authenticator.DefaultKafkaPrincipalBuilder
ssl.principal.mapping.rules=RULE:^CN=([^,]+).*$/$1/,DEFAULT
authorizer.class.name=org.apache.kafka.metadata.authorizer.StandardAuthorizer
super.users={% for host in groups['kafka_brokers'] %}User:{{ host }};{% endfor %}{% for principal in kafka_super_users %}{{ principal }}{% if not loop.last %};{% endif %}{% endfor %}
log.dirs={{ kafka_data_dir }}
num.partitions=6
default.replication.factor={{ kafka_default_replication_factor }}
min.insync.replicas={{ kafka_min_insync_replicas }}
offsets.topic.replication.factor={{ kafka_default_replication_factor }}
transaction.state.log.replication.factor={{ kafka_default_replication_factor }}
transaction.state.log.min.isr={{ kafka_min_insync_replicas }}
auto.create.topics.enable=false
unclean.leader.election.enable=false
delete.topic.enable=true
